<!DOCTYPE html>
<html>
    <head>
        <title>PostCodes Microservice</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
        <link type="text/css" rel="stylesheet" href="/main.css" />
    </head>
    <body>
        
        <div class="container centred">
        
            <h1>Postcodes Microservice</h1>
            
            <p>To use this service, after the base url write <code class="red-text">one/</code>
                followed by a valid UK postcode. For instance:</p>
            
            <p><code class="red-text">https://postcodelatlong.herokuapp.com/one/NW1 2FD</code></p>
            
            <p>This will return a JSON object with the lat/long of the location.</p>
            
            <div class="centred">
                <p>Created by <a href="http://www.domwakeling.com" target="_blank">Dom Wakeling</a></p>
            </div>
        
        </div><!-- .container -->
    </body>
</html>